<section class="container mt-5">

<h3 class="text-center mb-5 fw-bold">
Shop by Category
</h3>

<div class="row g-4">

<!-- ENGINEERING -->

<div class="col-md-4">

<a href="/?category=engineering" class="text-decoration-none">

<div class="category-card">

<img src="{{ url_for('static', filename='engineering.jpg') }}">

<div class="category-overlay">

<h5>Engineering</h5>
<p>Books & Lab Records</p>

</div>

</div>

</a>

</div>


<!-- NOTES -->

<div class="col-md-4">

<a href="/?category=notes" class="text-decoration-none">

<div class="category-card">

<img src="{{ url_for('static', filename='notes.jpg') }}">

<div class="category-overlay">

<h5>Notes</h5>
<p>Exam preparation material</p>

</div>

</div>

</a>

</div>


<!-- ELECTRONICS -->

<div class="col-md-4">

<a href="/?category=electronics" class="text-decoration-none">

<div class="category-card">

<img src="{{ url_for('static', filename='electronics.jpg') }}">

<div class="category-overlay">

<h5>Electronics</h5>
<p>Calculators & Accessories</p>

</div>

</div>

</a>

</div>

</div>

</section>