{% extends "base.html" %}
{% block content %}

<div class="container mt-5">

<h2 class="mb-4">Edit Profile</h2>

<div class="card shadow-sm border-0 p-4">

<form method="POST">

<h5 class="mb-3">Personal Information</h5>

<div class="row">

<div class="col-md-6 mb-3">
<label>Name</label>
<input name="name" class="form-control" value="{{user.name}}" required>
</div>

<div class="col-md-6 mb-3">
<label>Email</label>
<input name="email" type="email" class="form-control" value="{{user.email}}" required>
</div>

<div class="col-md-6 mb-3">
<label>Phone</label>
<input name="phone" class="form-control" value="{{user.phone}}">
</div>

</div>

<hr>

<h5 class="mb-3">Bank Details (For Seller Payments)</h5>

<div class="row">

<div class="col-md-6 mb-3">
<label>Account Name</label>
<input name="account_name" class="form-control" value="{{user.account_name}}">
</div>

<div class="col-md-6 mb-3">
<label>Account Number</label>
<input name="account_number" class="form-control" value="{{user.account_number}}">
</div>

<div class="col-md-6 mb-3">
<label>IFSC Code</label>
<input name="ifsc" class="form-control" value="{{user.ifsc}}">
</div>

</div>

<div class="mt-3">

<button class="btn btn-success">
Save Changes
</button>

<a href="/profile" class="btn btn-secondary">
Cancel
</a>

</div>

</form>

</div>

</div>

{% endblock %}