<div class="container mt-4">

<h4>Chat with {{other_user.name}}</h4>

<div class="chat-box">

{% for m in messages %}

<div class="{% if m.sender_id == session['user_id'] %}my-msg{% else %}their-msg{% endif %}">
{{m.message}}
</div>

{% endfor %}

</div>

<form method="POST" action="/send-message">

<input type="hidden" name="receiver_id" value="{{other_user.id}}">

<input name="message" class="form-control mt-3" placeholder="Type message..." required>

<button class="btn btn-primary mt-2">Send</button>

</form>

</div>