{% extends "base.html" %}
{% block content %}

<div class="container mt-5">

<h4>Dispute Conversation</h4>

<div class="card p-3 mb-3">

{% for m in messages %}

<div class="mb-3">

<b>User {{m.sender_id}}</b>

<p>{{m.message}}</p>

<small class="text-muted">
{{m.created_at.strftime("%Y-%m-%d %H:%M")}}
</small>

<hr>

</div>

{% endfor %}

</div>

<form method="POST">

<input name="message"
class="form-control"
placeholder="Type message">

<button class="btn btn-primary mt-2">
Send
</button>

</form>

</div>

{% endblock %}